<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">

    <script>
      function updateRecipientPlaceholder(src) {
          let kind = src.options[src.selectedIndex].value;
          let target = document.getElementById('recipient');
          switch (kind) {
          case "Email":
            target.placeholder = 'email address';
            break;
          case "SMS":
            target.placeholder = 'phone number';
            break;
          case "Ecobee":
            target.placeholder = 'TBD';
            break;
          }
      }
    </script>
  </head>
  <body style="padding: 10px" class="container">
    <h3>Solar Snoop</h3>

    <p>Keep an eye on your solar production and get notifications when your system's net generation is positive!</p>

    {{ if .UserId }}
    <table class="main">
      <tr>
	    <th>UserId:</th>
	    <td>{{ .UserId }}</td>
      </tr>
      <tr>
	    <th>Systems:</th>
	    <td>
	      {{ range .Systems }}
	      <div>[ {{.SystemId}}: "{{.Name}}" ]</div>
          {{ end }}
        </td>
      </tr>
      <tr>
        <th>Notifications:</th>
        <td>
        <div class="notifications">
          {{ if not .Notifiers }}
            (none currently configured)
          {{ else }}
            <em>configured:</em>
            <ul>
              {{ range .Notifiers }}
                <li>
                  {{ .Kind }} {{ .Recipient }} &rarr; Site #{{ .SystemId }} ({{ .SystemName }})
                  <form method="POST" action="/notifications/delete" class="form-inline form-btn-only">
                    <input type="hidden" name="notifierId" value="{{.Id}}">
                    <input type="hidden" name="systemId" value="{{.SystemId}}">
                    <b><button type="submit" class="form-control" title="delete">Ｘ</button></b>
                  </form>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </div>
        <div class="notifications">
            <em>Add notification:</em> <a href="/static/help/notifications.html" target="_blank" class="help">help🚨</a>
            <form method="POST" action="/notifications/add" class="form-inline">
              <select name="systemId" class="form-control">
                <option>(choose site)</option>
                {{ range .Systems }}
                <option value="{{.SystemId}}">{{.Name}}</option>
                {{ end }}
              </select>
              <select name="kind" class="form-control" onchange="javascript:updateRecipientPlaceholder(this)">
                <option>SMS</option>
                <option>Email</option>
                <option>Ecobee</option>
              </select>
              <input type="text" size="40" name="recipient" placeholder="phone number" class="form-control" id="recipient">
              <input type="submit" value="save" class="form-control"></input>
              </form>
          </div>
        </td>
      </tr>
    </table>
    <div style="padding-top: 30px">
      <a class="btn btn-primary" href="/logout">logout</a>
    </div>
    {{ else }}
    <div style="padding-top: 30px">
      <a class="btn btn-primary" href="https://api.enphaseenergy.com/oauth/authorize?response_type=code&client_id={{.OAuthClientId}}&redirect_uri={{.CallbackUrl}}">login</a>
    </div>
    {{ end }}

    <div style="padding-top: 20px">
      <img src="/static/logo.png" height="20%" width="20%">
    </div>
  </body>
</html>
